.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  background-color: #fff;
  align-items: center;
}

.app-container {
  min-height: 100vh;
  max-height: 120vh;
  max-width: 440px;
  width: 100%;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FE5500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 15px;
  border-radius: 10px;
}